@use "~/styles/theme";
@use "~/styles/colors";

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: map-get(theme.$z-indices, "header");
  padding: 1em map-get(theme.$section-padding-horizontal, "md");
  @include theme.transition("fast", background-color);
  background-color: transparent;

  &.isBlurBackground {
    background-color: rgba(colors.$primary-color, 0.9);
    backdrop-filter: blur(10px);
  }

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  > .logo {
    cursor: pointer;
  }

  > .menu {
    display: flex;
    flex-direction: row;
    gap: 0.5em;

    > .menuItem {
      cursor: pointer;
      @include theme.transition("normal", color);
      &.active {
        color: colors.$highlight-color;
      }
      &:hover {
        color: colors.$highlight-color;
      }
    }
  }
}

@media (max-width: theme.$breakpoint) {
  .navbar {
    padding: 1em map-get(theme.$section-padding-horizontal, "sm");

    > .menu {
      display: none;
    }
  }
}
