@use "sass:map";
@use "~/styles/theme";
@use "~/styles/colors";

.button {
  @include theme.transition("normal", all);
  appearance: none;
  outline: none;
  border: none;
  cursor: pointer;
  gap: 0.25em;
  padding: 0.3em 0.75em;
  border-radius: map.get(theme.$border-radii, "sm");

  &.isDark {
    background-color: colors.$primary-color;
    color: colors.$primary-text-color;

    &:hover {
      background-color: colors.$highlight-color;
      color: colors.$primary-color;
    }
  }

  &.isIconOnly {
    @include theme.transition("slow", all);
    padding: 0.5em;
    border-radius: 50%;
    background-color: transparent;

    &:hover {
      background-color: colors.$highlight-color;
      color: colors.$primary-color;
    }
  }

  &:disabled {
    cursor: default;
  }
}
