@import "~/styles/theme";
@import "~/styles/colors";

.button {
  appearance: none;
  outline: none;
  border: none;
  cursor: pointer;
  gap: 0.25em;

  padding: 0.3em 0.75em;
  border-radius: map-get($borderRadii, "sm");

  &.isIconOnly {
    @include transition("slow", "background-color, color");
    padding: 0.5em;
    border-radius: 50%;
    background-color: transparent;

    &:hover {
      background-color: $highlightColor;
      color: $primaryColor;
    }
  }

  &:disabled {
    cursor: default;
  }
}
