@use "~/styles/theme";
@use "~/styles/colors";

.projects {
  clip-path: polygon(0 0, 100% 5%, 100% 100%, 0% 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75em;

  > .content {
    --n: 2;
    --gap: 0.5em;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(
      auto-fit,
      minmax(max(18em, (100% - (var(--n) - 1) * var(--gap)) / var(--n)), 1fr)
    );
    gap: var(--gap);

    > .project {
      position: relative;
      height: 18em;
      overflow: hidden;
      border-radius: map-get(theme.$border-radii, "md");
      > .photo {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      > .detail {
        @include theme.transition("normal", all);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(colors.$primary-color, 0.7);
        color: colors.$primary-text-color;
        opacity: 0;
        &:hover {
          opacity: 1;
        }
        padding: 0.75em 1em;
        display: flex;
        flex-direction: column;
        gap: 0.25em;

        > .name {
          font-size: 1.25em;
          align-items: unset;
        }
        > .description {
          flex: 1;
          text-align: justify;
          overflow-y: auto;
          font-size: 1em;
        }

        > .footer {
          display: flex;
          align-items: center;
          gap: 0.25em;
          > .technologies {
            flex: 1;
            display: flex;
            flex-wrap: wrap;
            gap: inherit;
            > span {
              border-radius: map-get(theme.$border-radii, "sm");
              padding: 0.05em 0.25em;
              background-color: colors.$highlight-color;
              color: colors.$primary-color;
              font-size: 0.85em;
            }
          }
          > .links {
            display: flex;
            flex-wrap: nowrap;
            gap: inherit;
          }
        }
      }
    }
  }
}
