@import "~/styles/theme";

.section {
  position: relative;
  min-height: max(600px, 100svh);
  padding-left: map-get($sectionPaddingHorizontal, "md");
  padding-right: map-get($sectionPaddingHorizontal, "md");
  font-size: map-get($fontSizes, "md");
  overflow-x: hidden;
}

@media (max-width: $breakpoint) {
  .section {
    font-size: map-get($fontSizes, "sm");
    padding-left: map-get($sectionPaddingHorizontal, "sm");
    padding-right: map-get($sectionPaddingHorizontal, "sm");
  }
}
