$primary-color: #070707;
$highlight-color: #ffb703;
$primary-text-color: #f5f5f5;
$primary-accent-text-color: #f8efe0;

$secondary-color: #f8efe0;
$secondary-text-color: #0b0c10;
$secondary-accent-text-color: #183642;
