@use "sass:map";

$font-sizes: (
  xs: 0.75rem,
  sm: 0.875rem,
  md: 1rem,
  lg: 1.125rem,
  xl: 1.25rem,
);

$font-weights: (
  light: 300,
  normal: 400,
  bold: 700,
);

$border-radii: (
  xs: 0.125rem,
  sm: 0.25rem,
  md: 0.375rem,
  lg: 0.5rem,
  xl: 0.75rem,
);

$z-indices: (
  header: 900,
  modal: 1000,
  tooltip: 1500,
);

$ratio: 1.618;

$breakpoint: 950px;

$section-padding-horizontal: (
  sm: 1.5rem,
  md: 6.5rem,
);

@mixin transition($duration, $property) {
  $durations: (
    slowest: 500ms,
    slower: 400ms,
    slow: 300ms,
    normal: 200ms,
    fast: 150ms,
    faster: 100ms,
    fastest: 50ms,
  );

  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  transition-duration: map.get($durations, $duration);
  transition-property: $property;
}
