.label {
  display: inline-flex;
  align-items: center;
  gap: 0.2rem;

  font-size: inherit;
  font-family: inherit;
  color: inherit;

  > svg {
    min-width: 1em;
    min-height: 1em;
  }

  > .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
