.label {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;

  font-size: inherit;
  font-family: inherit;
  color: inherit;

  > svg {
    min-width: 1.25em;
    min-height: 1.25em;
  }

  > .title {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
