@import "~/styles/theme";

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: map-get($zIndices, "header");
  padding: 1em map-get($sectionPaddingHorizontal, "md");

  > .logo {
    cursor: pointer;
  }
}

@media (max-width: $breakpoint) {
  .navbar {
    padding: 1em map-get($sectionPaddingHorizontal, "sm");
  }
}
