@import "~/styles/theme";
@import "~/styles/colors";

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: map-get($zIndices, "header");
  padding: 1em map-get($sectionPaddingHorizontal, "md");

  background-color: rgba($backgroundColor, 0.7);
  backdrop-filter: blur(10px);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  > .logo {
    cursor: pointer;
  }

  > .menu {
    display: flex;
    flex-direction: row;
    gap: 0.5em;

    > .menuItem {
      cursor: pointer;

      &.active {
        font-weight: bold;
        color: $fillColor;
      }
      &:hover {
        color: $fillColor;
      }
    }
  }
}

@media (max-width: $breakpoint) {
  .navbar {
    padding: 1em map-get($sectionPaddingHorizontal, "sm");
  }
}
