@use "~/styles/theme";
@use "~/styles/colors";

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3em;

  > .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;

    > .greeting {
      font-size: 1.25em;
      color: colors.$highlight-color;
    }

    > .introduction {
      font-size: 1.25em * theme.$ratio;
    }

    > .briefDescription {
      font-size: 1.25em;
    }

    > .socialMedia {
      display: flex;
      flex-direction: row;
      gap: inherit;
      font-size: 0.75em;
    }
  }

  > .profile {
    position: relative;
    @include theme.transition("slowest", border-radius);
    border-radius: 24% 76% 70% 30% / 22% 30% 70% 78%;
    min-width: 350px;
    min-height: 350px;
    overflow: hidden;
    &:hover {
      border-radius: 71% 29% 70% 30% / 62% 73% 27% 38%;
    }
    > .image {
      margin: auto;
      object-fit: cover;
      user-select: none;
    }
  }
}

@media (max-width: theme.$breakpoint) {
  .container {
    flex-direction: column-reverse;
    gap: 2em;
  }
}
