@use "~/styles/theme";

.container {
  --main-color: #f1f1f1;
  --text-color: #000000;

  &.isDark {
    --main-color: #0b0c10;
    --text-color: #dddddd;
  }
  border-width: 0.25em;
  border-style: solid;
  border-color: var(--main-color);
  border-radius: map_get(theme.$border-radii, "sm");
  display: flex;
  flex-direction: column;

  > .header {
    overflow-x: hidden;
    padding: 0.5em 0.75em;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    column-gap: 0.25em;
    background-color: var(--main-color);

    > .dots {
      display: flex;
      gap: 0.5em;
      > span {
        margin: auto 0;
        width: 0.75em;
        height: 0.75em;
        border-radius: 50%;
        &:nth-of-type(1) {
          background-color: #ed594a;
        }
        &:nth-of-type(2) {
          background-color: #fdd800;
        }
        &:nth-of-type(3) {
          background-color: #5ac05a;
        }
      }
    }

    > input {
      border: 0.1em solid var(--main-color);
      border-radius: map-get(theme.$border-radii, "md");
      width: 70%;
      margin: 0 auto;
      padding: 0.25em;
      outline: none;
      line-height: 1.5;
      font-family: inherit;
      text-overflow: ellipsis;
    }

    > .setting {
      cursor: pointer;
      color: var(--text-color);
    }
  }

  > .content {
    flex: 1;
    overflow: hidden;
  }
}
