@use "~/styles/theme";
@use "~/styles/colors";

.sectionTitle {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: map-get(theme.$font-sizes, "sm");
  > .description {
    font-size: 1em;
    color: colors.$secondary-text-color;
  }
  > .title {
    margin-block: 0;
    font-size: 1em * theme.$ratio;
    text-transform: uppercase;
    color: colors.$text-color;
    &::after {
      content: ".";
    }
  }
}
