@import "~/styles/theme";
@import "~/styles/colors";

.sectionTitle {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: map-get($fontSizes, "sm");
  > .description {
    font-size: 1em;
    color: $secondaryTextColor;
  }
  > .title {
    margin-block: 0;
    font-size: 1em * $ratio;
    text-transform: uppercase;
    color: $textColor;
    &::after {
      content: ".";
    }
  }
}
