@use "~/styles/theme";
@use "~/styles/colors";

.container {
  font-style: italic;
  padding: 0.1em 0.5em;
  background-color: colors.$highlight-color;
  color: colors.$primary-color;
  border-radius: map-get(theme.$border-radii, "md");

  &.isDark {
    background-color: colors.$primary-color;
    color: colors.$primary-text-color;
  }
}
