@use "~/styles/theme";
@use "~/styles/colors";

.experience {
  display: flex;
  flex-direction: column;
  gap: 1em;
  > .timeline {
    > .item {
      display: grid;
      grid-template-columns: 10em auto 1fr;
      grid-template-areas: "period separator detail";
      gap: 1em;

      > .period {
        grid-area: period;
        align-self: flex-start;
        justify-self: flex-end;
        font-size: 0.75em;
        padding: 0.25em 0.5em 0.15em;
        background-color: colors.$highlight-color;
        color: colors.$primary-color;
        border-radius: map-get(theme.$border-radii, "sm");
      }

      > .separator {
        grid-area: separator;
        display: flex;
        flex-direction: column;
        align-items: center;
        > .dot {
          width: 1em;
          height: 1em;
          box-shadow: 0 0 0 0.1em colors.$primary-text-color inset;
          border-radius: 50%;
        }

        > .line {
          background-color: colors.$primary-text-color;
          width: 0.1em;
          margin-left: 0.02em;
          &.top {
            height: calc(#{map-get(theme.$font-sizes, "md")} * 0.25);
          }
          &.bottom {
            flex: 1;
          }
        }
      }

      > .detail {
        grid-area: detail;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        margin-bottom: 2em;
        > .positions {
          font-weight: bold;
          align-items: unset;
          > span {
            .position {
              &:not(:first-child) {
                opacity: 0.65;
              }
            }
          }
        }
        > .company {
          align-items: unset;
        }
        > .descriptions {
          > .description {
            margin: 0 1.25em;
            text-align: justify;
          }
        }
        > .technologies {
          display: inline-flex;
          flex-wrap: wrap;
          gap: 0.25em;
          > span {
            font-size: 0.85em;
            font-style: italic;
            background-color: colors.$highlight-color;
            color: colors.$primary-color;
            padding: 0.1em 0.5em;
            border-radius: map-get(theme.$border-radii, "sm");
          }
        }
      }
    }
  }
}

@media (max-width: theme.$breakpoint) {
  .experience {
    > .timeline {
      > .item {
        grid-template-columns: auto 1fr;
        grid-template-areas: "separator period" "separator detail";
        gap: 0.5em;

        > .period {
          justify-self: flex-start;
        }
      }
    }
  }
}
