@use "~/styles/theme";
@use "~/styles/colors";

.footer {
  padding: 1.25em map-get(theme.$section-padding-horizontal, "md");
  border-top: 0.25rem solid colors.$highlight-color;
  font-size: map-get(theme.$font-sizes, "sm");
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
}

@media (max-width: theme.$breakpoint) {
  .footer {
    padding: 1.25em map-get(theme.$section-padding-horizontal, "sm");
  }
}
